<link href="/css/link.css" rel="stylesheet" media="screen">
<script src="/js/link.js"></script>

<br>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="highlight col-lg-6">
		<div id="heading" class="cool-font"> LINKR </div>
		<div id="sub-heading" class="cool-font text-muted">&nbsp a shortener for links++ </div>
		<br>
		<div id="description" class="cool-font"> 
			The links associated with this URL should have loaded already. If not, try disabling your pop up blocker for this website. The attached links are also located below. 
		</div>
		<dl id="links">
			
		</dl>
	</div>
	
	<div class="col-lg-3"></div>
</div>
