<link href="/css/main.css" rel="stylesheet" media="screen">
<script src="/js/main.js"></script>
 
<br>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="highlight col-lg-8">
		<div id="heading" class="cool-font"> LINKR </div>
		<div id="sub-heading" class="cool-font text-muted">&nbsp a shortener for links++ </div>
		<br>
		<div id="all-link-inputs">
			<div class="link-input">
				<input class="form-control" id="" placeholder="Enter a url to be shortened">
				<div class="cool-font input-error"></div>
			</div>
		</div>
		<ul class="options list-inline cool-font">
			<li><div id="add-link"> + </div></li>
			<li><div id="remove-link"> &#8211 </div></li>
		</ul>
		
		<!--	<li><i id="add-link-input" class="glyphicon glyphicon-chevron-right"></i></li> -->

		
		<br>
		<ul class="list-inline">
			<li> <button id="create-link" class="btn btn-danger">Make me a Link</button></li>
			<li style="font-family: 'Lato'; font-weight: bold;"> OR </li>
			<li> <button id="customize-link" class="btn btn-danger">Customize my Link</button></li>
			<li id="custom-link-maker">
				<ul class="list-inline cool-font">
					<li id="custom-link-domain">http:google.com</li>
					<li><input type="text" class="form-control" id="custom-link-entry" placeholder=""></li>
					<li><button id="confirm-custom-link" class="btn btn-danger">Generate Custom Link</button></li>
				</ul>
				
			</li>
			<li></li>
			
		</ul>
		<div id="custom-link-error" class="cool-font input-error"></div>

		<div class="cool-font" id="coded-link">google.com/dogs</div>
	</div>
	
	<div class="col-lg-2"></div>
</div>
